*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --poppins: 'Poppins', sans-serif;
    --lobster:'Lobster', cursive;
    --tilt:'Tilt Prism', cursive;

}
body{
   
   
    height: 300vh;
    margin: 0px;
    background-color: #1c1c1c;
    font-family: var(--poppins);

}
.titulo{
    
    color: rgba(33, 212, 174, 0.856);
    text-align: center;
    background-color: #1c1c1c;
    margin: auto;
    padding: 15px 20px;
    font-size: 60px;
    font-family: var(--lobster);
    text-shadow: 1px 1px 3px white;
    
}
.subtitulo{
    color: white;
    display: block;
    max-width: 800px;
    margin: 10px 20px;
    text-align: center;
}
.container1{
  
    /* background-color: aqua; */
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    background-color:#1c1c1c;
    /* background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%); */

}
.card{
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 34px;
    width: 70%;
    height: 500px;
    margin: 10px;
    /* flex: 0.5; */
    position: relative;
    /* box-shadow: 4px 4px 8px #6263609f; */
    transition: all  700ms ease-in;
    
   
    
}
h3{
    color: white;
    margin: 20px ;
    font-family: var(--poppins);
    font-size: 1rem;
    letter-spacing: 3px;
}
h3 + p {
    color: white;
   
    position:absolute; 
   
    bottom: 20px;
    left: 20px;
    opacity: 0;
    margin: 0;
    transition: opacity 400ms ease-in-out 0s;
    margin: 20px;
   
    

}
p{
    font-size: 14px;
    font-family: var(--poppins);
}

.card.activa h3 + p{

 opacity: 1;




}
.card.activa{
   
  
    width: 90%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply !important;
    /* flex: 5;  */
}

.wave{
    height: 100px;
    width: 100%;
   
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
.wave-top{
    background-image: url(./images/top.svg);
}
.wave-bottom{
    background-image: url(./images/bottom.svg);
}